.download-box {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}

.download-button {
    display: flex;
    align-items: center;
    background: transparent;

    border-radius: 8px;
    padding: 7px 6px 6px;
    border: 0;
    margin-bottom: 5px;
}

.download-button:hover {
    background-color: rgba(0,0,0,.05);
}

.download-list {
    position: absolute;
    z-index: 9999;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
}

.download-item {
    display: block;
    background: transparent;
    border-radius: 8px;
    padding: 7px 6px 6px;
    border: 0;
}

.download-item:hover {
    background-color: rgba(0,0,0,.05);
}

.arrow {
    margin-left: 5px;
}
